<!-- frontend.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Are you at risk of defaulting on your loan?</title>
</head>
<body>
    <h1>Are you at risk of defaulting on your loan?</h1>
    <h3>Input information about yourself and your loan in this form</h3>
    <form action="/submit" method="POST">
        <label for="age">What's your age?</label>
        <select name="age" id="age">
            {% for i in range(18, 81) %}
                <option value="{{ i }}">{{ i }}</option>
            {% endfor %}
        </select><br><br>

        <label for="income">What's your income?</label>
        <input type="number" name="income" required><br><br>

        <label for="living">What is your living situation?</label>
        <select name="living">
            <option value="0">own my home</option>
            <option value="1">have a mortgage</option>
            <option value="2">renting</option>
        </select><br><br>

        <label for="employment">For how long have you been employed (in years)?</label>
        <input type="number" name="employment" required><br><br>

        <label for="purpose">What is the purpose of the loan?</label>
        <select name="purpose">
            <option value="0">Personal</option>
            <option value="1">Education</option>
            <option value="2">Medical</option>
            <option value="3">Venture</option>
            <option value="4">Home improvement</option>
            <option value="5">Debt consolidation</option>
        </select><br><br>

        <label for="amount">How much do you want to loan?</label>
        <input type="number" name="amount" required><br><br>

        <label for="interest">What is the interest rate on the loan?</label>
        <input type="number" name="interest" required><br><br>

        <label for="percentage">How much is the loan as a percentage of your income?</label>
        <input type="number" name="percentage" required><br><br>

        <label for="status">What is the current status of the loan?</label>
        <select name="status">
            <option value="0">Fully Paid</option>
            <option value="1">Charged Off</option>
            <option value="2">Current</option>
        </select><br><br>

        <label for="bank_years">For how many years have you been with the bank loaning you money?</label>
        <input type="number" name="bank_years" required><br><br>

        <input type="submit" value="Submit">
    </form>
</body>
</html>
